.idea/
*.aux
*.log
*.synctex.gz
*.out
*~
*.fdb_latexmk
*.fls

/assignment5/Question4/Chatting App/chat/build/
/assignment5/Question4/Chatting App/chat/dist/
/assignment5/Question4/Chatting App/chat/nbproject/private/